<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Backoffice!{% endblock %}</title>
    {% block stylesheets %}
        {#<!-- BEGIN GLOBAL MANDATORY STYLES -->#}
        {% stylesheets
        'assets/font-awesome-4.7.0/css/font-awesome.min.css'
        'assets/bootstrap-3.3.7-dist/css/bootstrap.min.css'
        'assets/dist/css/sb-admin-2.css'
        filter='cssrewrite' %}
        {#<!-- END GLOBAL MANDATORY STYLES -->#}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
        <style>
           
            .body{
                margin-top: 70px;
            }

            footer {
                margin: 50px 0;
            }
            .page-header{
                 margin: 20px 0 20px !important;
            }
        </style>

    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    {% javascripts
    "assets/jquery/jquery-3.2.0.min.js"
    "assets/bootstrap-3.3.7-dist/js/bootstrap.min.js" %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

{% endblock %}</body>
</html>
